@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom left, #f81a1a, #862cb9, #41dede);
}

.everything {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hoverEffect:hover {
    background-color: #00000088;
}

.cardHoverEffect:hover {
    background-color: #ff000099;
}

.aboutMe {
    background-color: black;
    width: 450px;
    height: 520px;
    text-align: center;
    word-wrap: break-word;
}

.myCard {
    background-color: black;
    width: 400px;
    height: 500px;
    padding: 50px;
    text-align: center;
}

.myWorks {
    background-color: black;
    width: 450px;
    height: 520px;
    text-align: center;
    word-wrap: break-word;
}

.myImage {
    border-radius: 50%;
    width: 300px;
}

.myImage:hover {
    cursor: pointer;
}


